<div>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div id="texte" class="col-lg-6 col-md-8 mx-auto">
				<h1 id="type1" class="fw-light">{{ type }}</h1>
			</div>
		</div>
	</section>
	<div id="data-container">
		<ul id="data-list">
			<div class="mini-box">
				<h5>Tesla</h5>
				<button type="submit">❌</button>
			</div>
			<p></p>
			<div class="mini-box">
				<h5>Nissan</h5>
				<button type="submit">❌</button>
			</div>
			<p></p>
			<div class="mini-box">
				<h5>BMW</h5>
				<button type="submit">❌</button>
			</div>
			<p></p>
			<button class="btn-add" type="submit" onclick="showSummaryModal()">Ajouter</button>
		</ul>
	</div>
	<div class="modal" id="summaryModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="type2" class="modal-title">Ajouter
						{{ type }}</h5>
				</div>
				<div class="modal-body">
					<input type="text" id="summaryModalTitle" class="form-control" aria-describedby="basic-addon1">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSummaryModal()">Ajouter</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSummaryModal()">Fermer</button>
				</div>
			</div>
		</div>
	</div>
</div>
