<div class="col">
    <a href="/vehicule">
        <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="275" src="https://www.automobile-magazine.fr/asset/cms/198854/config/146547/p90462506-highres.jpg">
            </img>
            <div class="card-body">
                <h5>Caractéristiques</h5>
                <p class="card-text">- Nombres de portes : 5</p>
                <p class="card-text">- Age minimum : 21</p>
                <p class="card-text">
                <h6>- A partir de 50€ / jour</h6>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">BMW</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Noir</button>
                    </div>
                    <small class="text-body-secondary">Manual - type</small>
                </div>
            </div>
        </div>
    </a>
</div>