<div id="container-filter">
	<input type="text" id="search-bar" placeholder="Recherche...">
	<p></p>
	<div class="filter-container">
		<div class="filters">
			<label id="texte" , type="price">Prix :</label>
			<select id="price" name="price">
				<option value="0">-</option>
				<option value="50">0€ - 50€</option>
				<option value="100">50€ - 100€</option>
				<option value="150">100€ - 150€</option>
			</select>

			<label id="texte" for="brand">Marque :</label>
			<select id="brand" name="brand">
				<option value="0">-</option>
				<option value="audi">Audi</option>
				<option value="bmw">BMW</option>
				<option value="mercedes">Mercedes</option>
			</select>

			<label id="texte" for="color">Couleur :</label>
			<select id="color" name="color">
				<option value="0">-</option>
				<option value="rouger">rouge</option>
				<option value="bleu">bleu</option>
				<option value="vert">vert</option>
			</select>

			<label id="texte" for="passengers">Nombre de passagers :</label>
			<select id="passengers" name="passengers">
				<option value="0">-</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="7">7</option>
				<option value="9">9</option>
			</select>
		</div>
	</div>
</div>
