<div class="album" style="margin-bottom:100px;">
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div id="texte" class="col-lg-6 col-md-8 mx-auto">
				<h1 id="type1" class="fw-light">Véhicules</h1>
			</div>
		</div>
	</section>
	{{ filter|raw }}
	<p></p>
	<div class="container bg">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="admin-card">
				{{ car|raw }}
				<p></p>
				<div class="btn-admin">
					<button style="background-color:red;">Supprimer</button>
					<button style="background-color:blue;">Modifier</button>
				</div>
			</div>
		</div>
	</div>
</div>
